br::selection {
    background-color: transparent;
}

.questionChoices::selection {
    background-color: #b6f9dd;
    color: #1789ec;
}

.elemAddByQ_KVM_normal::selection {
    background-color: #f9f1ad;
    font-weight: 800;
}

.judgeQuestionAddByQ_KVM::selection {
    background-color: rgba(242, 197, 252, 0.631);
    color: #ec176c;
}

.questionAnswerAddByQ_KVM {
    letter-spacing: 0.1rem !important;
    background-color: transparent !important;
    text-shadow: 0.06rem 0.06rem 0.06rem #ff6600 !important;
}

.questionAnswerAddByQ_KVM::selection {
    background-color: rgba(246, 255, 0, 0.76);
    text-shadow: 0.06rem 0.06rem 0.06rem #fff;
}

.questionsPart::selection {
    background-color: transparent;
}

.questionsPart::selection {
    background-color: transparent;
}

.questionChapter::selection {
    background-color: rgba(247, 182, 182, 0.9);
    color: #7300ff;
    text-shadow: 0.06rem 0.06rem 0.06rem #2233;
}

.questionNormal::selection {
    background-color: rgba(144, 0, 255, 0.06) !important;
    color: #000 !important;
}

pre {
    font-family: 'microsoft yahei';
}
pre::selection {
    background-color: rgba(0, 242, 255, 0.705) ;
    color: #fff;
    text-shadow: 0.32rem 0.32rem 0.24rem rgb(125, 63, 196);
}